
<!DOCTYPE html>
<html lang="en">
  <head>
    <title> Nurishly - Nutrition by Nutritionists </title>
    <!-- <link rel="stylesheet" href="/css/bootstrap.min.css"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/custom.css">



    <style>


      .navbar-default .navbar-brand {
        color:black;
      }
    </style>

  </head>

<% include ./partials/navbar %>
  <body>



    <div class="container">
      <!-- Example row of columns -->
      <%- body -%>
    </div>
      <!-- /container -->
      <% include ./partials/footer %>
      <% include ./partials/javascriptOnly %>
  </body>
</html>
